body {
    background: #0a192f;
    color: white;
    font-family: Arial;
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #233554;
    text-align: left;
}

th {
    background: #112240;
}

button {
    padding: 6px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.delete {
    background: red;
    color: white;
}

.edit {
    background: orange;
    color: white;
}